{% extends "index.html" %}

{% load static %}

{% block content %}
    {% block menu %}
    {{block.super}}
    {% endblock %}

    {% block wrapper %}

    {% block gallery %}
    <div id="wrapper">
    <div id="main">
    <section id="uep">
        <div class="container">
            <header class="major" >
                <h2>Creando Espacios - Artículos</h2>
            </header>
        </div>
    </section>
    <section id="uep">
        <div class="container">
            <p>{{article_title}}</p>

            <div class="container">
                {% for article in articles %}
                <article>
                    <div class="inner">
                        <h4 style="color:">{{article.title}}</h4>
                        <img style="vertical-align:middle;" src="{% static 'images/calendar.png' %}" />
                        <b style="font-size:10pt;">{{article.date}} - Editado por {{article.autor}}
                        | <a href="mailto:{{article.email}}?Subject=Q:{{article.title}}" target="_top">Enviar Correo</a>
                         a {{article.email}}</b>
                        <p style="font-size:7pt !important;">{{article.detail|safe|escape}}</p>
                    </div>
                    <p style="font-size:11pt;">
                        <a href="{{article.file.url}}" target="_blank">
                            <img style="width:40px; height:25px; vertical-align:middle;" src="{% static 'images/pdf-icon.png' %}" />Descargar el artículo</a>
                    </p>
                </article>
                <hr>

                {% endfor %}
            </div>
        </div>
    </section>
    </div>
    </div>
    {% endblock %}
    {% endblock %}
{% endblock %}


			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollzer.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'assets/js/main.js' %}"></script>
    {% block scripts %}
    <script>
        $('#nav ul li a').each(function(i){
            $(this).removeClass('active');
        });
        $('#article').addClass('active');
    </script>
    {% endblock %}